@model Expenses.Core.Dtos.PeriodDto

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalPeriod" onclick="addPeriod();">
    Agregar
</button>

<!-- Modal -->
<form asp-action="Save">
    <div class="modal fade" id="modalPeriod" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Periodo</h5>                    
                </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />

                        <div class="form-group row">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="DateStart" class="control-label"></label>
                            <input asp-for="DateStart" class="form-control" />
                            <span asp-validation-for="DateStart" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="DateStop" class="control-label"></label>
                            <input asp-for="DateStop" class="form-control" />
                            <span asp-validation-for="DateStop" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelPeriod();">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

</form>