@model Expenses.Models.MontsWithoutInterestDetails

@{
    Layout = null;
}

<h4 class="text-primary">Agregar pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_AddPay">
            <input type="hidden" asp-for="MontsWithoutInterestId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseNumber" class="control-label"></label>
                <input asp-for="ExpenseNumber" class="form-control" />
                <span asp-validation-for="ExpenseNumber" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
