@model IEnumerable<Expenses.Models.Subcategory>

@{
    ViewData["Title"] = "Subcategorias";
}

<h1 class="text-info">Lista de Subcategorias</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <select class="form-control">
                    <option value="Asc"><a href="/home">Nombre A-Z</a></option>
                    <option value="Desc"><a href="/home">Nombre Z-A</a></option>
                </select>
            </th>
            <th>
                <select class="form-control">
                    <option class="text-primary">Categoria</option>
                    <option>A-Z</option>
                    <option>Z-A</option>
                </select>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
